@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');

:root {
  --color-primary: #fff;
  --color-secondary: blue;
}

* {
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  list-style-position: inside;
}
